@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display: inline;=swap");

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #e3ebf3;
}

div.meniu {
  overflow: hidden;
  background-color: #10ac84;
}

div.meniu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.meniu li {
  list-style-type: none;
  padding: 0 4%;
  transition: 0.3s ease;
}

div.meniu li:hover {
}

div.meniu i {
  cursor: pointer;
  transition: 0.2s ease-in;
}

div.meniu i:hover {
  transform: scale(1.2, 1.2);
}
div.title {
  text-align: center;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  width: 100%;
  font-family: "Muli", sans-serif;
  margin-bottom: 2%;
}

/* bara filtru */
.view-filter {
  position: relative;
  width: 20%;
  margin: auto;
  text-align: center;
  padding: 1% 1%;
}

.view-filter span {
  color: black;
  font-size: 20pt;
  padding: 0 4%;
  border-right: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-filter span:hover {
    font-size: 27pt;
}

.view-filter span:nth-child(3) {
  border: none;
}
/***************/

div.inf {
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-flow: row;
  margin-left: 25%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
  height: 50%;
}

div.produs {
  width: 30%;
  align-items: center;
  text-align: center;
  border-right: 3px solid #222f3e;
  border-bottom: 3px solid #222f3e;
  padding: 1% 1%;
  box-shadow: 0 5px #222f3e;
}

div.produs:nth-child(3n + 1) {
  clear: left;
}

div.produs img {
  width: 50%;
  margin-bottom: 5%;
}

div.produs h2 {
  font-family: "Muli", sans-serif;
}

div.produs span {
  width: 100%;
  display: inline-block;
  font-size: 2.7vh;
  color: #222f3e;
  font-family: "Muli", sans-serif;
  font-size: 1.8vh;
}

div.produs .adauga {
  cursor: pointer;
  background: transparent;
  transition: 0.5s ease;
  border: none;
  outline: none;
  font-size: 2.2vh;
  color: black;
  border: 2px solid black;
  font-weight: 700;
  width: 35%;
  height: 12%;
  margin-bottom: 3%;
  font-family: "Muli", sans-serif;
}
div.produs .adauga:hover {
    background: black;
  color: white;
  transition: 0.5s;
  border: none;
}

div.produs .detalii {
  cursor: pointer;
  background: transparent;
  transition: 0.5s ease;
  border: none;
  outline: none;
  font-size: 2.2vh;
  color: black;
  border: 2px solid black;
  font-weight: 700;
  width: 35%;
  height: 12%;
  margin-bottom: 3%;
  font-family: "Muli", sans-serif;
}
div.produs .detalii:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

/*************/
div.sub-category {
  position: absolute;
  margin-left: 2%;
  width: 18%;
  top: 20%;
}

div.sub-category .sub-produse {
  width: 100%;
  font-family: "Muli", sans-serif;
}

div.sub-produse h1 {
  font-family: "Muli", sans-serif;
  font-size: 3.4vh;
}

div.sub-category .sub-pret {
  font-family: "Muli", sans-serif;
  font-size: 3.4vh;
}

div.sub-category .sub-pret h1 {
  font-size: 3.4vh;
}

div.sub-category .sub-cantitate {
  font-family: "Muli", sans-serif;
}

div.sub-category .sub-cantitate h1 {
  font-size: 3.4vh;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13pt;
  color: #8395a7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:hover {
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #2ba398;
}

.container:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2ba398;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10%;
  height: 40%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

